 <% exercise = @exercise %>
 <div class="flex w-full mx-auto max-w-lg lg:max-w-xl xl:max-w-2xl p-8">
    <div class="flex flex-col mx-auto max-w-lg lg:max-w-xl xl:max-w-2xl">      
        <div class="flex flex-col items-start justify-center">
            <h1 class="text-4xl md:text-4xl font-bold text-center w-full mb-8">
            <%= exercise.name %>
            </h1>
            
            <% if exercise.custom_instructions.present? %>
            <div class="flex flex-col items-start w-full justify-center mb-8">
                <%= exercise.custom_instructions %>
            </div>
            <% end %>
    
            <ol class="steps space-y-4 list-none relative mb-8">
            <% exercise.steps.each_with_index do |step, index| %>        
                <li class="rounded-xl p-4 text-pretty relative shadow-lg bg-white bg-opacity-50">
                <span class="absolute left-4 rounded-full bg-[var(--primary)] text-black w-6 h-6 flex items-center justify-center text-sm font-bold"><%= index + 1 %></span>
                <span class="pl-10"><%= step %></span>              
                </li>
            <% end %>
            </ol>            

            <p class="description text-lg w-full text-center mb-8">
            <%= exercise.description %>
            </p>

            <div class="w-full flex justify-center" data-controller="confetti">                     
                <%= link_to "Get back to the current exercise", 
                    join_exercises_path, 
                    class: "button-primary", 
                    data: { "analytics-event": "exercise_viewed", turbo_frame: "body" } %>
            </div>
        </div>        
        </div>
    </div>
</div>