<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Move Frequently" %></title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </head>  
  <body class="min-h-screen flex flex-col w-full bg-red-100" data-controller="analytics">
    <main class="container mx-auto p-8 flex grow w-full">
      <%= yield %>
    </main>
  </body>
</html>
