<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Move Frequently" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Combat sedentary lifestyles with Move Frequently - delivering simple exercises to do at your desk every <%= NextExercise::PERIOD.inspect %>. Stay active and healthy while working!">
    <meta name="keywords" content="health, exercise, sedentarism, workplace wellness, desk exercises, fitness, wellbeing">
    <meta property="og:title" content="Move Frequently - Fight Sedentarism with Simple Desk Exercises">
    <meta property="og:description" content="Combat sedentary lifestyles with Move Frequently - delivering simple exercises to do at your desk every <%= NextExercise::PERIOD.inspect %>. Stay active and healthy while working!">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Move Frequently - Fight Sedentarism with Simple Desk Exercises">
    <meta name="twitter:description" content="Combat sedentary lifestyles with Move Frequently - delivering simple exercises to do at your desk every <%= NextExercise::PERIOD.inspect %>. Stay active and healthy while working!">    
    <meta name="theme-color" content="#ebf8ff">
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </head>  
  <body class="min-h-screen flex flex-col w-full bg-blue-100">
    <main class="mx-auto flex grow w-full">
      <%= turbo_frame_tag "body", class: "flex w-full" do %>
        <%= yield %>
      <% end %>
    </main>
    <%= render "common/share" %>
  </body>
</html>
