<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Livelonger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    <meta name="description" content="LiveLonger helps you fight sedentarism by delivering simple exercises to do at your desk every hour. Stay active and healthy while working!">
    <meta name="keywords" content="health, exercise, sedentarism, workplace wellness, desk exercises, fitness, wellbeing">
    <meta property="og:title" content="LiveLonger - Fight Sedentarism with Simple Desk Exercises">
    <meta property="og:description" content="Combat sedentary lifestyles with LiveLonger - delivering simple exercises to do at your desk every hour. Stay active and healthy while working!">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="LiveLonger - Fight Sedentarism with Simple Desk Exercises">
    <meta name="twitter:description" content="Combat sedentary lifestyles with LiveLonger - delivering simple exercises to do at your desk every hour. Stay active and healthy while working!">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body >
    
    <% if content_for(:header) %>
      <header class="flex justify-end items-center h-[3rem]  bg-gray-700 text-gray-200">   
        <%= yield :header %>        
      </header>
    <% end %>

    <% min_h_class = content_for(:header).present? ? "min-h-[calc(100vh-6rem)]" : "min-h-[calc(100vh-3rem)]" %>

    <main class="mx-auto m-0 p-0 flex <%= min_h_class %>">
      <%= yield %>
    </main>
    
    <footer class="flex justify-center items-center h-[3rem]  bg-gray-700 text-gray-200">
      <p>LiveLonger is <a href="https://github.com/miguelff/livelonger" target="_blank">FOSS</a>, made with <span class="heart">❤️</span> by <a href="https://x.com/ThisIsFernandez" target="_blank">Miguel</a> and <a href="https://x.com/esmaldan" target="_blank">Daniel</a> | Got ideas? <a href="https://github.com/miguelff/livelonger/issues" target="_blank">Let us know!</a></p>
    </footer>
  </body>
</html>
